body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: 'Pacifico';
  font-size: 2rem;
  position: absolute;
  top: 150px;
  left: 30px;
}

h3 {
  font-family: 'Lato';
  font-size: 1.5rem;
}

h4 {
  font-family: 'Lato';
  font-size: 1.2rem;
}

p {
  font-family: 'Lato';
  padding: 0 20px 10px 20px;
  text-align: left;
}

li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  visibility: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Title section */

.title-image {
  height: 400px;
  width: 100%;
}

.navbar {
  background-color: transparent;
  height: 50px;
  line-height: 3;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Hamburger menu */

.hamburger-btn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px) ;
}



/* Rooms section */

.room-image {
  width: 90%
}

.dining-room-image {
  width: 90%;
}


/* Amenities section */
.breakfast-image {
  width: 90%;
}

.internet-image {
  width: 90%;
}

.room-service-image {
  width: 90%;
}

.laundry-image {
  width: 90%;
}
