/* HTML elements */
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: 'Pacifico';
  font-size: 2rem;
  position: absolute;
  top: 150px;
  left: 30px;
}

h4 {
  font-size: 1.2rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

p {
  font-family: 'Lato';
  padding: 0 20px 10px 20px;
  text-align: left;
}

li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  visibility: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  color: blue;
}

/* Heading and body text */
.section-heading {
  color: #284E78;
  font-family: 'Lato';
  font-size: 1.5rem;
}

.main-text {
  color: #284E78;
  font-family: 'Lato';
}



/* Desktop navbar and button */
.navbar {
  background-color: transparent;
  height: 50px;
  line-height: 3;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-wrapper {
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  line-height: 2;
  visibility: hidden;
}

.desktop-nav {
  position: relative;
  margin-left: 40%;
  margin-top: 5px;
}

.nav-item {
  color: #fff;
  font-family: 'Lato';
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-item:hover {
  color: #E8F6EF;
}

.title-btn {
  background-color: #DA0037;
  border-radius: 5px;
  color: #fff;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  top: 20%;
  right: 2%;
  height: 40px;
  width: 120px;
}

.menu {
  background-color: #fff;
  border-radius: 5px;
  height: 305px;
  width: 200px;
  line-height: 2.5;
  position: absolute;
  top: 1px;
  display: none;
}

/* Hamburger menu */
.hamburger-btn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
}

/* Images */
.title-image {
  height: 400px;
  width: 100%;
}

.content-img {
  width: 90%;
}

.room-image {
  width: 90%
}

.dining-room-image {
  width: 90%;
}

/* Sections */
.colored-section {
  background-color: #E8F6EF;
}

/* Contact */
.btn {
  display: flex;
  justify-content: center;
  background-color: #284e78;
  color: #fff;
  border-style: solid;
  border-radius: 5px;
  font-family: 'Lato';
  font-weight: bold;
  height: 50px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  line-height: 3;
}

.contact-info {
  text-align: center;
}

/* Social media icons */
.fab {
  font-size: 2rem;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
}

.fa-twitter:hover {
  color: #00acee;
}

.fa-instagram:hover {
  color: #458eff;
}

.fa-facebook-square:hover {
  color: #4267B2;
}

/* Hamburger button animation */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Button animations */
.pressed {
  box-shadow: 0 0 20px #185ADB;
}

.title-pressed {
  box-shadow: 0 0 20px #DA0037;
}

/* Tablet screen size */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    top: 300px;
    left: 50px;
  }

  h4 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.5rem;
    padding-left: 40px;
    padding-right: 40px;
  }

  .title {
    height: 700px;
  }

  .title-image {
    height: 800px;
  }

  .section-heading {
    font-size: 2.5rem;
  }

  .menu {
    height: 450px;
    width: 250px;
    font-size: 2rem;
  }

  .content-img {
    height: 600px;
  }

  .btn {
    font-size: 1.8rem;
    height: 75px;
    width: 180px;
    line-height: 2.5;
  }
}

/* Desktop and large screens */

@media only screen and (min-width: 1366px) {
  body {
    overflow-x: hidden;
  }

  #rooms {
    padding-bottom: 100px;
  }

  #dining {
    width: 100%;
    margin-right: 0;
    padding-bottom: 100px;
  }

  .title-image {
    height: 760px;
  }

  .hamburger-btn {
    visibility: hidden;
  }

  .nav-wrapper {
    visibility: visible;
  }

  .room-img {
    margin-top: 5%;
    height: 30%;
    width: 30%;
    position: relative;
  }

  .dining-room-img {
    margin-top: 5%;
    height: 40%;
    width: 40%;
    position: relative;

  }

  .content-img {
    height: 40%;
    width: 40%;

  }

  .room-info {
    margin-top: 30px;
    margin-left: 5px;
    float: right;
    width: 50%;
  }

  .dining-info {
    margin-top: 35px;
    margin-right: 5px;
    float: left;
    width: 50%;
  }

  .amenities-info {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

}
